.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.app {
	overflow: hidden;
}

.header {
	height: var(--header-height);
	background-image: linear-gradient(0, #f63, #f53d2d);
}

.header__navbar {
	display: flex;
	justify-content: space-between;
}

.header__navbar-list {
	list-style-type: none;
	padding-left: 0;
	margin: 4px 0 0 0;
	display: flex;
}

.header__navbar-item {
	margin: 0 8px;
	position: relative;
}

.header__navbar-user {
	position: relative;
}

.header__navbar-user-img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
	font-weight: 400;
}

.header__navbar-user-list {
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	width: 152px;
	background-color: var(--white-color);
	border-radius: 2px;
	z-index: 1;
	padding-left: 0;
	list-style-type: none;
	box-shadow: 0 1px 1px #ccc;
	transform-origin: 109px top;
	transform: scale(0);
	opacity: 0;
	transition: transform ease-in 0.15s, opacity ease-in 0.15s;
}

.header__navbar-user-list::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: -15px;
	width: 106px;
	height: 20px;
}

.header__navbar-user:hover .header__navbar-user-list {
	opacity: 1;
	transform: scale(1);
}

.header__navbar-user-list::before {
	content: "";
    display: block;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 14px;
    cursor: pointer;
}

.header__navbar-user-item {

}

.header__navbar-user-item a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.header__navbar-user-item a {
	display: block;
	text-decoration: none;
	color: var(--text-color);
	padding: 8px 0 8px 18px;
	font-size: 1.4rem;
	color: #666;
	font-weight: 400;
}

.header__navbar-user-item a:hover {
	background-color: #f5f5f5;
}

.header__navbar-item--qr:hover .header__qr {
	display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
	opacity: 1;
	transform: scale(1);
}

.header__navbar-item,
.header__navbar-item-link {
	display: inline-block;
	font-size: 1.4rem;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
	display: inline-flex;
	align-items: center;
}

.header__navbar-item:hover .header__navbar-item-link {
	color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.header__navbar-item--strong {
	font-weight: 400;
}

.header__navbar-item--separate::after {
	content: "";
	display: block;
	border: 1px solid #f86a5b;
	height: 14px;
	position: absolute;
	right: -9px;
	top: 50%;
	transform: translateY(-50%);

}

.header__navbar-icon-link {
	color: var(--white-color);
	text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
	margin-left: 3px;
}

.header__navbar-icon {
	font-size: 1.7rem;
	margin: 0 4px;
}

.header__navbar--no-pointer {
	cursor: text;
	color: var(--white-color);
}

/* Header QR */
.header__qr {
	background-color: var(--white-color);
	width: 186px;
	position: absolute;
	left: 0;
	top: 118%;
	padding: 8px;
	border-radius: 2px;
	display: none;
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
	content: "";
	display: block;
	width: 100%;
	height: 22px;
	position: absolute;
	left: 0;
	top: -16px;

}

.header__qr-img {
	width: 100%;
}

.Header__qr-apps {
	display: flex;
	justify-content: space-between;
}

.Header__qr-link:nth-child(1) {
	margin-left: 11px;
}

.Header__qr-link:nth-child(2) {
	margin-right: 11px;
}

.header__qr-download-img {
	height: 15px;
}

/* Header Notify */

.header__notify {
	position: absolute;
	background-color: var(--white-color);
	width: 402px;
	top: 118%;
	right: 0;
	border: 1px solid #d1d1d1;
	cursor: default;
	transform-origin: 358px top;
	opacity: 0;
	transform: scale(0);
	transition: transform ease-in 0.15s, opacity ease-in 0.15s;
	z-index: 2;
}

.header__notify::before {
	content: "";
	display: block;
	border-style: solid;
	border-width: 20px 36px;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 6px;
	top: -30px;
	cursor: pointer;
}

.header__notify::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: -15px;
	width: 90px;
	height: 20px;
}
.header__notify-header {
	height: 40px;
	background-color: var(--white-color);
	color: #999;
	font-weight: 200;
	font-size: 1.3rem;
	margin-left: 12px;
}

.header__notify-list {
	padding-left: 0;
}

.header__notify-item {

}

.header__notify-item--unview {
	background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-item:hover {
	background-color: #f8f8f8;
}

.header__notify-link {
	display: flex;
	padding: 12px;
	text-decoration: none;
}

.header__notify-img {
	width: 48px;
	object-fit: contain;
}

.header__notify-info {
	margin-left: 12px;
}

.header__notify-name {
	display: block;
	color: rgba(0,0,0,.85);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.6rem
}

.header__notify-description {
	display: block;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-top: 4px;
}

.header__notify-footer {
	background-color: var(--white-color);
	display: flex;
}

.header__notify-footer-btn {
	text-align: center;
	text-decoration: none;
	color: var(--text-color);
	padding: 8px 0;
	width: 100%;
	font-size: 1.4rem;
	font-weight: 400; 
}

/* Authen modal */
.auth-form {
	width: 500px;
	background-color: var(--white-color);
	border-radius: 5px;
	overflow: hidden;
}
.auth-form__container {
	padding: 0 32px;
}

.auth-form__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 12px;
}

.auth-form__heading {
	font-size: 2.2rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
	cursor: default;
}

.auth-form__switch-btn {
	font-size: 1.6rem;
	color: var(--primary-color);
	font-weight: 500;
	cursor: pointer;
}

.auth-form__form {

}

.auth-form__input {
	height: 38px;
	width: 100%;
	margin-top: 16px;
	padding: 0 12px;
	font-size: 1.4rem;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	outline: none;
}

.auth-form__input:focus {
	border-color: #777;
}

.auth-form__aside {
	margin-top: 18px;
}

.auth-form__policy-text {
	font-size: 1.3rem;
	text-align: center;
	line-height: 1.8rem;
	padding: 0 6px;
}

.auth-form__text-link {
	color: var(--primary-color);
	text-decoration: none;
}

.auth-form__controls {
	display: flex;
	justify-content: flex-end;
	margin-top: 80px;
}

.auth-form__controls-back {
	margin-right: 8px;
	color: #555;
}

.auth-form__socials {
	background-color: #f5f5f5;
	padding: 16px 34px;
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.auth-form__socials-icon {
	font-size: 1.8rem;
}

.auth-form__socials--facebook {
	background-color: #3a5998;
	color: var(--white-color);
}

.auth-form__socials--google {
	background-color: var(--white-color);
	color: rgba(0, 0, 0, 0.6);
}

.auth-form__socials-title {
	margin: 0 34px;
}

.auth-form__help {
	display: flex;
	justify-content: flex-end;
}

.auth-form__help-link {
	text-decoration: none;
	font-size: 1.4rem;
	color: #939393;
}

.auth-form__help--focus {
	color: var(--primary-color);
}

.auth-form__help-sparate {
	display: block;
	border-right: 1px solid #eaeaea;
	height: 20px;
	margin: 2px 16px;
}

/* header with search */

.header-with-search {
	height: var(--search-height);
	display: flex;
	align-items: center;
}

.header__search-input:checked ~ .header__search {
	display: flex;
}

.header__mobile-search {
	display: none;
}

.header__mobile-search-icon {
	font-size: 2.4rem;
	color: var(--white-color);

}

.header__logo {
	width: 198px;
}

.header__logo-link {
	text-decoration: none;
	color: transparent;
	display: inline-block;
}

.header__logo-img {
	width: 150px;
}

.header__search {
	height: 42px;
	background-color: var(--white-color);
	border-radius: 2px;
	display: flex;
	align-items: center;
	padding: 4px;
	flex: 1;
}

.header__search-input-wrap {
	flex: 1;
	height: 100%;
	position: relative;
}

.header__search-input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.6rem;
	color: var(--text-color);
	padding-left: 14px;
}

.header__search-select {
	width: 120px;
	border-left: 1px solid #e8e8e8;
	position: relative;
	cursor: pointer;
}

.header__search-select-lable {
	font-size: 1.4rem;
	color: var(--text-color);
	margin: 0 10px 0 12px;
}

.header__search-select-item {
	font-size: 1.4rem;
	color: #585858;
}

.header__search-select:hover .header__search-option {
	display: block;
}

.header__search-option::before {
	content: "";
	display: block;
	height: 18px;
	width: 100%;
	position: absolute;
	top: -12px;
	right: 0;
}

.header__search-option {
	position: absolute;
	right: 0;
	top: calc(100% + 1px);
	padding-left: 0;
	list-style-type: none;
	width: 130px;
	box-shadow: 0 1px 1px #ccc;
	display: none;
	border-radius: 3px;
	animation: fadeIn ease-in 0.16s;
	z-index: 1;
}

.header__search-option-item {
	background-color: var(--white-color);
	padding: 8px 8px;
}

.header__search-option-item:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.header__search-option-item span {
	font-size: 1.4rem;
	color: var(--text-color);
	margin-left: 8px;
}

.header__search-option-item i {
	font-size: 1.2rem;
	color: var(--primary-color);
	margin: 0 0 0 16px;
	display: none;
}

.header__search-option-item--active i {
	display: inline-block;
}

.header__search-option-item:hover {
	background-color: #fbfbfb;
}

.header__search-btn {
	width: 62px;
	height: 100%;
	background-color: var(--primary-color);
	text-align: center;
	border: none;
	outline: none;
	border-radius: 2px;
}

.header__search-btn:hover {
	background-color: #ef6348;
	cursor: pointer;
}

.header__search-btn-icon {
	font-size: 1.4rem;
	color: var(--white-color);
	
}

.header__cart {
	width: 148px;
	text-align: center;
}

.header__cart-wrap {
	position: relative;
	display: inline-block;
	padding: 0 16px;
	cursor: pointer;
}

.header__cart-icon {
	font-size: 2.4rem;
	color: var(--white-color);
	margin-top: 4px;
}

.header__cart-wrap:hover .header__cart-list {
	display: block;
}

.header__cart-list {
	position: absolute;
	top: calc(100% + 7px);
	right: 0px;
	width: 402px;
	background-color: var(--white-color);
	border-radius: 2px;
	box-shadow: 0 1px 4.6875rem 0 rgba(0, 0, 0, 0.2);
	display: none;
	animation: fadeIn ease-in 0.18s;
	cursor: default;
	z-index: 2;
}

.header__cart-list::before {
	content: "";
    display: block;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -32px;
    right: 0px;
    cursor: pointer;
}

.header__cart-list--no-list .header__cart-list-msg,
.header__cart-list--no-list .header__cart-no-cart {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header__cart-no-cart {
	width: 50%;
	display: none;
}

.header__cart-list-msg {
	display: none;
	font-size: 1.4rem;
	color: var(--text-color);
	margin-top: 10px;
}

.header__cart-list--no-list {
	padding: 20px 0;
}

.header__cart-notice {
	position: absolute;
	top: -5px;
	right: -2px;
	background-color: var(--white-color);
	color: var(--primary-color);
	font-size: 1.4rem;
	line-height: 1.4rem;
	border: 2px solid #EE4D2D;
	padding: 1px 6px;
	border-radius: 10px;
}

/* History search */
.header__search-history {
	position: absolute;
	top: calc(100% + 7px);
	left: -4px;
	width: calc(100% - 20px);
	background-color: var(--white-color);
	border-radius: 2px;
	box-shadow: 0 0 3px #999;
	display: none;
	overflow: hidden;
	z-index: 2;
}

.header__search-input:focus ~ .header__search-history {
	display: block;
}

.header__search-history-heading {
	font-size: 1.4rem;
	color: #999;
	font-weight: 400;
	margin: 8px 12px;
	cursor: text;
}

.header__search-history-list {
	padding-left: 0;
	list-style-type: none;
	margin: 0;
}

.header__search-history-item {
	line-height: 36px;
}

.header__search-history-item:hover {
	background-color: #fbfbfb;
}

.header__search-history-item a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	padding-left: 12px;
	display: block;
}

.header__cart-heading {
	font-size: 1.4rem;
	color: #bdbdbd;
	text-align: left;
	margin: 8px 12px 8px;
	font-weight: 400;
}

.header__cart-list-item {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0px;
	max-height: 46vh;
	overflow-y: auto;
}

.header__cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 12px;
}

.header__cart-item:hover {
	background-color: #f8f8f8;
}

.header__cart-item-img {
	width: 42px;
	height: 42px;
	border: 1px solid #e8e8e8;
	margin-right: 10px;
}

.header__cart-item-info {
	width: 100%;
	cursor: text;
	overflow: hidden;
}

.header__cart-item-head {
	display: flex;
	justify-content: space-between;
}

.header__cart-item-name {
	margin: 0;
	font-size: 1.4rem;
	color: #333333;
	font-weight: 500;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 16px;
	flex: 1;
	text-align: left;
}

.header__cart-item-price {
	font-size: 1.4rem;
	color: var(--primary-color);
}

.header__cart-item-multiply {
	color: #b5b5b5;
	font-size: 1rem;
	margin: 0 4px;
}

.header__cart-item-qnt {
	font-size: 1.2rem;
	color: #67004f;
	font-weight: 300;
}

.header__cart-item-body {
	display: flex;
	justify-content: space-between;
}

.header__cart-item-description {
	font-size: 1.2rem;
	color: #8f8f8f;
	font-weight: 400;
}

.header__cart-item-remove {
	font-size: 1.3rem;
	color: #6b6b6b;
}

.header__cart-item-remove:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.header__cart-bottom {
	background-color: #fdfdfd;
	height: 62px;
}

.header__cart-view-cart {
	float: right;
	text-decoration: none;
	font-size: 1.4rem;
	margin: 12px;
}

.header__cart-view-cart:hover {
	background-color: #ef654a;
}

.header__sort-bar {
	display: none;
	padding-left: 0;
	margin: 0;
	list-style-type: none;
	position: fixed;
	top: calc(var(--header-height));
	left: 0;
	right: 0;
	height: var(--header__sort-bar-height);
	background-color: var(--white-color);
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.header__sort-item {
	flex:1;
}

.header__sort-item-link {
	font-size: 1.4rem;
	color: var(--text-color);
	display: block;
	text-decoration: none;
	line-height: var(--header__sort-bar-height);
	text-align: center;
	position: relative;
}

.header__sort-item-link:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border-left: 1px solid #e5e5e5;
	height: 60%;
}

.header__sort-item:first-child .header__sort-item-link:before {
	border: none;
}

.header__sort-item-active {
	border-bottom: 2px solid var(--primary-color);
}

.header__sort-item-active .header__sort-item-link {
	color: var(--primary-color);
}

/* Container */
.app__container {
	background-color: #f5f5f5;
}

.app__content {
	padding-top: 36px;
}

.category {
	background-color: var(--white-color);
	padding-bottom: 4px;
}

.category__heading {
	font-size: 1.4rem;
	padding: 16px 20px 10px;
	color: rgba(0, 0, 0, 0.72);
	font-weight: 500;
	cursor: default;
	margin: 0;
	text-transform: uppercase;
}

.category__list {
	padding-left: 0;
	list-style-type: none;
	margin: 0;
}

.category__item {
	position: relative;
	padding: 0 20px;
}

.category__item-link {
	text-decoration: none;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.9);
	display: block;
	border-bottom: 1px solid #e1e1e1;
	padding: 5px 0;
}

.category__item:last-child .category__item-link {
	border: none;
}

.category__item:hover .category__item-link {
	color: var(--primary-color);
}

.category__item-active .category__item-link {
	color: var(--primary-color);
}

.home-filter {
	display: flex;
	background-color: #EDEDED;
	padding: 12px 20px;
	align-items: center;
	border-radius: 2px;
}

.home-filter-btn {
	font-size: 1.4rem;
	min-width: 90px;
	height: 33px;
	margin-right: 12px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
}

.home-filter__label {
	font-size: 1.4rem;
	color: #555;
	margin-right: 16px;
}

.home-filter__page {
	display: flex;
	align-items: center;
	margin-left: auto;	
}

.home-filter__num {
	font-size: 1.4rem;
	color: var(--text-color);
	margin-right: 20px;
}

.home-filter__num-current {
	color: var(--primary-color);
}

.home-filter__page-control {
	width: 72px;
	height: 34px;
	display: flex;
	border-radius: 2px;
	background-color: var(--white-color);
}

.home-filter__page-btn {
	flex: 1;
	text-decoration: none;
	display: flex;
	
}

.home-filter__page-btn:first-child {
	border-right: 1px solid #F1F1F1;
}

.home-filter__page-btn--disabled {
	background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
	color: #ccc;
}

.home-filter__page-icon {
	margin: auto;
	color: #555;
	font-size: 1.4rem;
}

.mobile-category {
	display: none;
}

.mobile-category__list {
	padding-left: 0;
	list-style-type: none;
	display: flex;
	max-width: 100%;
	overflow-x: auto;
	
}

.mobile-category__list::-webkit-scrollbar {
	display: none;
}

.mobile-category__item {
	flex-shrink: 0;
	margin-left: 10px;
}


.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
	background-color: #86afd7;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
	background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
	background-color:#88cf81;
}

.mobile-category__link {
	text-decoration: none;
	font-size: 1.4rem;
	color: var(--white-color);
	display: block;
	width: 108px;
	height: 40px;
	text-align: center;
	line-height: 2rem;
	border-radius: 3px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	padding: 0 4px;
}

.home-product {
	margin-bottom: 10px;
}

.home-product-item {
	position: relative;
	background-color: var(--white-color);
	margin-top: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba( 0, 0, 0, 0.1);
	display: block;
	text-decoration: none;
	transition: transform ease-in 0.1s;
}

.home-product-item:hover {
	box-shadow: 0 1px 20px 0 rgba(0,0,0,.05);
	transform: translateY(-1px);
}
.home-product-item__img {
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.home-product-item__name {
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
	margin: 10px 10px 4px;
	line-height: 1.8rem;
	height: 36px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.home-product-item__price {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

.home-product-item__price-old {
	font-size: 1.4rem;
	color: var(--text-color);
	text-decoration: line-through;
	margin-left: 10px;
}

.home-product-item__price-current {
	font-size: 1.6rem;
	color: var(--primary-color);
	margin-left: 10px;
}

.home-product-item__action {
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
}

.home-product-item__like {
	font-size: 1.3rem;
}

i.home-product-item__like-fill {
	color: #F53D2F;
	display: none;
}

.home-product-item__like--liked .home-product-item__like-fill {
	display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-empty {
	display: none;
}

.home-product-item__rating {
	font-size: 0.8rem;
	color: #D5D5D5;
	margin-left: auto;
}

.home-product-item__rating--gold {
	color: var(--gold-star-color);
}

.home-product-item__sold {
	font-size: 1.3rem;
	color: var(--text-color);
	margin-left: 6px;
}

.home-product-item__origin {
	display: flex;
	justify-content: flex-end;
	margin: 0 10px;
	font-size: 1.3rem;
	color: rgba(0, 0, 0, 0.8);
	line-height: 2.2rem;
	font-weight: 300;
}

.home-product-item__favourite {
	position: absolute;
	top: 10px;
	left: -4px;
	font-size: 1.2rem;
	color: var(--primary-color);
	background-color: currentColor;
	line-height: 1.6rem;
	font-weight: 500;
	padding-right: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	border-top: 3px solid currentColor;
	border-left: 3px solid transparent;
	filter: brightness(60%);
}

.home-product-item__favourite span {
	color: var(--white-color);
}

.home-product-item__favourite i {
	color: var(--white-color);
	font-size: 0.9rem;
	margin: 0 2px 0 5px;
}

.home-product-item__discount {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 35px;
	background-color: rgba(250,208,45,0.9);
	text-align: center;
	border-top-right-radius: 2px;
}

.home-product-item__discount::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: -5px;
	border-width: 0 19px 5px;
	border-style: solid;
	border-color: transparent rgba(250,208,45,0.9) transparent;
}

.home-product-item__discount-percent {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--primary-color);
	line-height: 1.2rem;
	position: relative;
	top: -2px;
}

.home-product-item__discount-lable {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.2rem;
	color: rgba(255,255,255,0.95);
	position: relative;
	top: -11px;
}

.home-product__pagination {
	margin: 40px 0 30px;
	padding-left: 0;
}

.footer__header {
	background-color: #fbfbfb;
	padding-top: 16px;
}

.footer {
	border-top: 4px solid var(--primary-color);
}

.footer__client {
	padding-bottom: 20px;
}

.footer__heading {
	font-size: 1.3rem;
	color: rgba(0, 0, 0, 0.65);
	margin: 13px 0 11px;
}

.footer-list {
	padding-left: 0px;
	list-style-type: none;
}

.footer-item {
	padding: 1px 0;
}

.footer-item__link {
	text-decoration: none;
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.56);
	padding: 1px 0;
}

.footer-item__link:hover {
	color: var(--primary-color);
}

.footer__transpost-heading {
	margin: 18px 0 14px;
}

.footer__payment-img,
.footer__transpost-img {
	display: flex;
	flex-wrap: wrap;
}

.footer__payment-img img,
.footer__transpost-img img {
	max-width: 56px;
	margin-right: 5px;
}

.footer-item__link {
	display: inline-flex;
	align-items: center;
}

.footer-item__link-icon {
	font-size: 1.8rem;
	margin-right: 10px;
	margin-top: -2px;
}

.footer__app-wrap {
	display: flex;
}
.footer__qr-link {
	text-decoration: none;
	line-height: 0;
}

.footer__qr-img {
	width: 90px;
	height: 90px;
	border: 1px solid #E4E4E4;
}

.footer__app {
	display: flex;
	flex-direction: column;
	height: 90px;
	margin-left: 16px;
}

.footer__list-app-link {
	display: block;
	line-height: 45px;
}

.footer__app-img {
	height: 20px;
}

.footer__bottom {
	background-color: #f5f5f5;
	padding: 32px 0;
}

.footer__bottom-list {
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.footer__bottom-item {
	padding: 0 25px;
	line-height: 1.4rem;
	border-right: 1px solid #dedede;
}

.footer__bottom-item:last-child {
	border: none;
}

.footer__bottom-item-link {
	text-decoration: none;
	font-size: 1.2rem;
	color: rgba(0,0,0,.54);
}

.footer__bottom-link {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 42px 0 12px;
}

.footer__bottom-link-img {
	width: 120px;
	
}

.footer__bottom-branch,
.footer__bottom-address {
	display: flex;
	justify-content: center;
	color: rgba(0,0,0,.54);
	font-size: 1.2rem;
	line-height: 2.3rem;
}

